<div
  class="header w-full h-auto min-h-screen sm:h-auto md:h-screen lg:h-screen"
>
  {% include '/components/navbar.html' %}
  <div
    class="container mx-auto flex flex-col items-center text-center space-y-5"
  >
    <h3
      class="
        secondary-title
        text-3xl
        font-bold
        sm:text-3xl
        md:text-5xl
        lg:text-5xl
        secondary-color
        mt-40
      "
    >
      Solve Coding Errors fast.
    </h3>
    <h1
      class="
        primary-title
        text-6xl
        sm:text-6xl
        md:text-8xl
        lg:text-8xl
        font-bold
        primary-color
      "
    >
      Skip the Overflow.
    </h1>
    <p class="font-mono text-lg tertiary-title font-medium mb-20 header-text">
      SkipOverflow helps you find coding Errors in seconds including a most
      accepted answer based on a problem and the most highest one. You can also
      save your errors for future references.
    </p>
    <button
      class="
        py-4
        px-10
        rounded-lg
        shadow-lg
        secondary-bg
        text-xl text-white
        primary-title
      "
    >
      Get Started
    </button>
  </div>
</div>
