.header {
  aspect-ratio: 900 / auto;
  background-image: url("../images/header_bg.svg");
  border-bottom: 3px solid var(--tertiary-bg-color);
}

.header-text {
  overflow: hidden;
  max-width: 75ch;
}
