@import url("btn.css");
@import url("svg.css");
@import url("theme.css");
@import url("typography.css");
@import url("header.css");

:root {
  --primary-font-color: #292831;
  --secondary-font-color: #7a78ff;
  --tertiary-font-color: #d3d3d3;
  --primary-bg-color: #393939;
  --secondary-bg-color: #ff9274;
  --tertiary-bg-color: #b2b2b2;
}
